# GRUB boot configuration for __PROJECT_NAME__ auto-install
set default=0
set timeout=10

menuentry "Autoinstallation de Ubuntu Server __PROJECT_NAME__" {
    set gfxpayload=keep
    linux /casper/vmlinuz autoinstall "ds=nocloud;s=/cdrom/autoinstall/" debug --- autoinstall
    initrd /casper/initrd
}
